{% extends 'base.html.twig' %}

{% block title %}Listes des dossiers médicaux{% endblock %}

{% block body %}
    

    <div class="container-fluid py-4"> 
        <h1 class="mt-4 mb-4">Listes des dossiers médicaux</h1>
        <div class="table-responsive">
            <table class="table table-bordered" 
            style="background:#D6FCFC">
            <tr>
                <th>Id</th>
                <th>Résident</th>
                <th>Taille</th>
                <th>Poids</th>
                <th>MaladiesAnciennes</th>
                <th>OperationsAnciennes</th>
                <th>Allergies</th>
                <th>MaladiesActuelles</th>
                <th>TraitementEnCours</th>
                <th>DescriptionPathologies</th>
                <th>HospitalisationRecente</th>
                <th>CauseHospitalisationRecente</th>
                <th>DureeHospitalisationRecente</th>
                <th>SortieHospitalisationRecente</th>
                <th>ConduiteArisque</th>
                <th>Alcool</th>
                <th>Tabac</th>
                <th>EnCoursDeSevrage</th>
                <th>PortageDeBacterieMultiresistante</th>
                <th>DeficiencesSensorielles</th>
                <th>Boolean</th>
                <th>Auditive</th>
                <th>Gustative</th>
                <th>Olfactive</th>
                <th>Vestibulaire</th>
                <th>Tactile</th>
                <th>IdeesDelirantes</th>
                <th>Hallucinations</th>
                <th>AgitationsAgressiviteCris</th>
                <th>Depression</th>
                <th>Anxiete</th>
                <th>Apathie</th>
                <th>Desinhibition</th>
                <th>TroubleDuSommeil</th>
                <th>ComportementsMoteursAberrants</th>
                <th>Oxygenotherapie</th>
                <th>SondesAlimentaion</th>
                <th>SondesTracheotomie</th>
                <th>SondesUrinaire</th>
                <th>Gastronomie</th>
                <th>Colostomie</th>
                <th>FauteuilRoulant</th>
                <th>LitMedicalise</th>
                <th>MatelasAntiEscarres</th>
                <th>Deambulateur</th>
                <th>Ureterostomie</th>
                <th>AppareillageVentilatoire</th>
                <th>Pompe</th>
                <th>ChambreImplantable</th>
                <th>DialysePeritoneale</th>
                <th>Orthese</th>
                <th>Prothese</th>
                <th>PaceMaker</th>
                <th>DeplacementInterieur</th>
                <th>DeplacementExterieur</th>
                <th>ToiletteHaut</th>
                <th>ToiletteBas</th>
                <th>EliminationUrinaire</th>
                <th>EliminationFecale</th>
                <th>HabillageHaut</th>
                <th>HabillageMoyen</th>
                <th>HabillageBas</th>
                <th>AlimentationSeServire</th>
                <th>AlimentationManger</th>
                <th>OrientationTemps</th>
                <th>OrientationEspace</th>
                <th>CommunicationPourAlerter</th>
                <th>Coherence</th>
                <th>Reeducation</th>
                <th>Kinesitherapie</th>
                <th>Orthophonie</th>
                <th>AutreReeducation</th>
                <th>RisqueDeChute</th>
                <th>RisqueDeFausseRoute</th>
                <th>SoinsPalliatifs</th>
                <th>PancementsOuSoisCutanes</th>
                <th>NomMedcin</th>
                <th>PrenomMedcin</th>
                <th>AdresseMedcin</th>
                <th>TelephoneMedcin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dossier_medical in dossier_medicals %}
            <tr>
                <td>{{ dossier_medical.id }}</td>
                <td>{{ dossier_medical.resident.lastName }}</td>
                <td>{{ dossier_medical.taille }}</td>
                <td>{{ dossier_medical.poids }}</td>
                <td>{{ dossier_medical.maladiesAnciennes }}</td>
                <td>{{ dossier_medical.operationsAnciennes }}</td>
                <td>{{ dossier_medical.allergies }}</td>
                <td>{{ dossier_medical.maladiesActuelles }}</td>
                <td>{{ dossier_medical.traitementEnCours }}</td>
                <td>{{ dossier_medical.DescriptionPathologies }}</td>
                <td>{{ dossier_medical.hospitalisationRecente ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.causeHospitalisationRecente }}</td>
                <td>{{ dossier_medical.dureeHospitalisationRecente }}</td>
                <td>{{ dossier_medical.sortieHospitalisationRecente }}</td>
                <td>{{ dossier_medical.conduiteArisque ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.alcool ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.tabac ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.enCoursDeSevrage ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.portageDeBacterieMultiresistante ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.deficiencesSensorielles ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.boolean ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.auditive ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.gustative ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.olfactive ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.vestibulaire ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.tactile ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.ideesDelirantes ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.hallucinations ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.agitationsAgressiviteCris ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.depression ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.anxiete ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.apathie ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.desinhibition ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.troubleDuSommeil ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.comportementsMoteursAberrants ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.oxygenotherapie ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.sondesAlimentaion ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.sondesTracheotomie ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.sondesUrinaire ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.gastronomie ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.colostomie ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.fauteuilRoulant ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.litMedicalise ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.matelasAntiEscarres ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.deambulateur ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.ureterostomie ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.appareillageVentilatoire ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.pompe ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.chambreImplantable ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.dialysePeritoneale ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.orthese ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.prothese ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.paceMaker ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.deplacementInterieur }}</td>
                <td>{{ dossier_medical.deplacementExterieur }}</td>
                <td>{{ dossier_medical.toiletteHaut }}</td>
                <td>{{ dossier_medical.toiletteBas }}</td>
                <td>{{ dossier_medical.eliminationUrinaire }}</td>
                <td>{{ dossier_medical.eliminationFecale }}</td>
                <td>{{ dossier_medical.habillageHaut }}</td>
                <td>{{ dossier_medical.habillageMoyen }}</td>
                <td>{{ dossier_medical.habillageBas }}</td>
                <td>{{ dossier_medical.alimentationSeServire }}</td>
                <td>{{ dossier_medical.alimentationManger }}</td>
                <td>{{ dossier_medical.orientationTemps }}</td>
                <td>{{ dossier_medical.orientationEspace }}</td>
                <td>{{ dossier_medical.communicationPourAlerter }}</td>
                <td>{{ dossier_medical.coherence }}</td>
                <td>{{ dossier_medical.reeducation ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.kinesitherapie ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.orthophonie ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.autreReeducation }}</td>
                <td>{{ dossier_medical.risqueDeChute ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.risqueDeFausseRoute ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.soinsPalliatifs ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.pancementsOuSoisCutanes ? 'Yes' : 'No' }}</td>
                <td>{{ dossier_medical.nomMedcin }}</td>
                <td>{{ dossier_medical.prenomMedcin }}</td>
                <td>{{ dossier_medical.adresseMedcin }}</td>
                <td>{{ dossier_medical.telephoneMedcin }}</td>
                <td>
                    <a href="{{ path('app_dossier_medical_show', {'id': dossier_medical.id}) }}" class="btn btn-primary ">Afficher</a>
                    <a href="{{ path('app_dossier_medical_edit', {'id': dossier_medical.id}) }}" class="btn btn-info ">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="80">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <a href="{{ path('app_dossier_medical_new') }}"class="btn btn-success btn-lg mt-3">Ajouter un dossier médical</a>
{% endblock %}
