{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <style>
        .top-right {
            position: absolute;
            top: 20px;
            right: 20px;
            color: #46599C;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 10px;
            align-items: center;
        }

        .user-logo {
            width: 30px; /* Ajustez la taille du logo selon vos besoins */
            height: auto;
            margin-right: 10px;
        }
        .top-center {
          position: fixed;
          top: 20px; /* Adjust the distance from the top as needed */
          left: 10%;
          transform: translateX(-50%);
          color: #46599C;
          text-align: center;
          padding: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        {% if app.user %}
            <div class="top-right">
                <img src="{{ asset('images/logoUser.jpg') }}" alt="Logo Utilisateur" class="user-logo">
                Vous êtes connecté en tant que {{ app.user.email }}!
               <a href="{{ path('app_logout') }}" class="logout-link">Déconnexion</a>
            </div>
            <h4 class="top-center">Bienvenue {{ app.user.lastName }}</h4>
        {% else %}
            <div class="top-right">
                <img src="{{ asset('images/logoUser.jpg') }}" alt="Logo Utilisateur" class="user-logo">
                Veuillez vous connecter.
                <a href="{{ path('app_login') }}" class="login-link">Connexion</a>
            </div>
        {% endif %}
   <a href="{{ path('app_evenements_resident', {'id': resident.id}) }}" class="btn">
    <div class="container d-flex justify-content-center align-items-center" style="background:#D6FCFC; height: 20vh; width:50vh;">
    <h3>Voir Agenda</h3>
    <img src="{{ asset('images/calendrierIcon.jpg') }}" alt="Voir agenda" width="100" height="100" style="border-radius:70%">
    </div>
    </a>

<div class="container d-flex justify-content-center align-items-center" style="background:#53D3D3; height: 20vh; width:50vh;">
    <h3>Dossier médical</h3>
 <a href="{{ path('app_dossier_medical_resident', {'id': resident.id}) }}" class="btn">   
    <img src="{{ asset('images/logoDossierMedical.png') }}" alt="Voir agenda" width="100" height="100" style="border-radius:70%">
 </a>   
</div>

<div class="btn btn-success btn-lg mt-2 mb-2" style="height: 20vh; width:50vh; display: flex; justify-content: center; align-items: center;">
    <a href="{{ path('app_visite_new') }}" class="btn btn-success">
    <h3>Demander une visite</h3>
    </a>
</div>





{% endblock %}
