{% extends 'base.html.twig' %}

{% block title %}Inscription des infirmiers{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href="{{ asset('assets/styles/app.css') }}">
    <style>
        body {
            background-color: #f9f9f9; /* Couleur de fond claire */
            font-family: Arial, sans-serif; /* Police par défaut */
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .form-container {
            max-width: 500px;
            width: 90%;
            padding: 20px;
            background-color: #D6FCFC; /* Couleur de fond blanche */
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
        }
        .form-container h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #46599C; /* Couleur du titre */
        }
        .form-container .btn {
            display: block;
            width: 100%;
            padding: 10px;
            margin-top: 20px;
            background-color: #46599C; /* Couleur du bouton */
            color: #fff; /* Couleur du texte du bouton */
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .form-container .btn:hover {
            background-color: #344267; /* Couleur du bouton au survol */
        }
        .form-container .btn:focus {
            outline: none; /* Supprime le contour du bouton au focus */
        }
        .form-container .form-group {
            margin-bottom: px;
        }
        .form-container .form-group label {
            font-weight: bold;
            color: #333; /* Couleur des labels */
        }
        .form-container .form-control {
            width: 100%;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid #ccc; /* Bordure légère */
            box-sizing: border-box; /* Respecte la taille totale */
        }
        .form-container .form-control:focus {
            outline: none; /* Supprime le contour de la zone de saisie au focus */
            border-color: #46599C; /* Couleur de la bordure au focus */
        }
        .form-container .form-control.error {
            border-color: red; /* Couleur de la bordure en cas d'erreur */
        }
        .form-container .form-error {
            color: red; /* Couleur du texte d'erreur */
            font-size: 12px;
            margin-top: 5px;
        }
        .form-container .checkbox-label {
            display: block;
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">   
        <div class="form-container">
        <div style="text-align: center; margin-top: 10px; color:#46599C">
            <h4 style="display: inline-block;">Vous avez déjà un compte? </h4>
            <a href="{{ path('app_login') }}" style="display: inline-block;"><h4 style="display: inline-block; margin-left: 5px;color:#46599C;text-decoration: underline;">Se connecter</h4></a>
        </div>

            <h1>Inscription des infirmiers</h1>

            {{ form_errors(registrationInfirmierForm) }}

            {{ form_start(registrationInfirmierForm) }}

                <div class="form-group">
                    {{ form_label(registrationInfirmierForm.firstName) }}
                    {{ form_widget(registrationInfirmierForm.firstName, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(registrationInfirmierForm.lastName) }}
                    {{ form_widget(registrationInfirmierForm.lastName, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(registrationInfirmierForm.telephone) }}
                    {{ form_widget(registrationInfirmierForm.telephone, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(registrationInfirmierForm.genre) }}
                    {{ form_widget(registrationInfirmierForm.genre, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(registrationInfirmierForm.address) }}
                    {{ form_widget(registrationInfirmierForm.address, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(registrationInfirmierForm.zipCode) }}
                    {{ form_widget(registrationInfirmierForm.zipCode, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(registrationInfirmierForm.city) }}
                    {{ form_widget(registrationInfirmierForm.city, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(registrationInfirmierForm.email) }}
                    {{ form_widget(registrationInfirmierForm.email, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(registrationInfirmierForm.plainPassword, 'Password') }}
                    {{ form_widget(registrationInfirmierForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(registrationInfirmierForm.agreeTerms) }}
                    {{ form_widget(registrationInfirmierForm.agreeTerms, {'label_attr': {'class': 'checkbox-label'}}) }}
                </div>

                <button type="submit" class="btn">S'inscrire</button>
            {{ form_end(registrationInfirmierForm) }}
        </div>
    </div>
{% endblock %}
