{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table table-bordered " 
            style="background:#D6FCFC">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>DateEvenement</th>
                <td>{{ evenement.dateEvenement ? evenement.dateEvenement|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evenement.description }}</td>
            </tr>
            <tr>
                <th>Résidents associés</th>
                <td>
                {% for resident in evenement.resident %}
                {{ resident.firstName }} {{ resident.lastName }}{% if not loop.last %}, {% endif %}
                {% else %}
                Aucun résident associé
                {% endfor %}
                </td>    
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}" class="btn btn-success mt-2">Enregistrer</a> <br>

    <a href="{{ path('app_evenement_index') }}" class="btn btn-secondary mt-2">back to list</a>


    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
