{% extends 'base.html.twig' %}

{% block title %}MembreFamille index{% endblock %}

{% block body %}
    
<div class="container-fluid py-4"> <!-- Ajout de la classe bg-dark pour une couleur foncée et text-light pour un texte clair -->          
         <h1>Liste des Membres de Famille</h1>
        <div class="table-responsive">
            <table class="table table-bordered " 
            style="background:#D6FCFC">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
               {# <th>Roles</th> #}
               {# <th>Password</th> #}
                <th>FirstName</th>
                <th>LastName</th>
                <th>Telephone</th>
                <th>Address</th>
                <th>ZipCode</th>
                <th>City</th>
                <th>NumPassport</th>
                <th>Résident</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for membre_famille in membre_familles %}
            <tr>
                <td>{{ membre_famille.id }}</td>
                <td>{{ membre_famille.email }}</td>
                {#<td>{{ membre_famille.roles ? membre_famille.roles|json_encode : '' }}</td> #}
               {# <td>{{ membre_famille.password }}</td> #}
                <td>{{ membre_famille.firstName }}</td>
                <td>{{ membre_famille.lastName }}</td>
                <td>{{ membre_famille.telephone }}</td>
                <td>{{ membre_famille.address }}</td>
                <td>{{ membre_famille.zipCode }}</td>
                <td>{{ membre_famille.city }}</td>
                <td>{{ membre_famille.numPassport }}</td>
                <td>{{ membre_famille.resident }}</td>
                <td>
                    <a href="{{ path('app_membre_famille_show', {'id': membre_famille.id}) }}"  class="btn btn-primary">Voir</a>
                    <a href="{{ path('app_membre_famille_edit', {'id': membre_famille.id}) }}"  class="btn btn-info">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Aucun membre de famille trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_membre_famille_new') }}" class="btn btn-success btn-lg mt-3 ml-3 d-inline-block">Ajouter un membre de famille</a>
{% endblock %}
