{% extends 'base.html.twig' %}

{% block title %}MembreFamille{% endblock %}

{% block body %}
    <h1>MembreFamille</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ membre_famille.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ membre_famille.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ membre_famille.roles ? membre_famille.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ membre_famille.password }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ membre_famille.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ membre_famille.lastName }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ membre_famille.telephone }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ membre_famille.address }}</td>
            </tr>
            <tr>
                <th>ZipCode</th>
                <td>{{ membre_famille.zipCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ membre_famille.city }}</td>
            </tr>
            <tr>
                <th>NumPassport</th>
                <td>{{ membre_famille.numPassport }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_membre_famille_index') }}">back to list</a>

    <a href="{{ path('app_membre_famille_edit', {'id': membre_famille.id}) }}">edit</a>

    {{ include('membre_famille/_delete_form.html.twig') }}
{% endblock %}
