{% extends 'base.html.twig' %}

{% block title %}Liste des résidents{% endblock %}

{% block body %}


    <div class="container-fluid py-4"> <!-- Ajout de la classe bg-dark pour une couleur foncée et text-light pour un texte clair -->
    <h1 class="mt-2 mb-2 d-inline-block">Liste des résidents</h1>
        <div class="table-responsive">
            <table class="table table-bordered "
            style="background:#D6FCFC"> <!-- Ajout de la classe table-bordered pour ajouter des bordures et table-dark pour un thème sombre -->
                <thead >
                    <tr>
                        {#<th scope="col">Id</th>#}
                        <th scope="col">Email</th>
                        {#<th scope="col">Roles</th>#}
                        {#<th scope="col">Password</th>#}
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Telephone</th>
                        <th scope="col">Address</th>
                        <th scope="col">Zip Code</th>
                        <th scope="col">City</th>
                        <th scope="col">NbChambre</th>
                        <th scope="col">Membre de famille</th>
                        <th scope="col">Actions</th>
                        {#<th scope="col">Agenda</th>#}
                    </tr>  
                </thead>
                <tbody>
                    {% if residents is empty %}
                        <tr>
                            <td colspan="12">Aucun enregistrement trouvé</td>
                        </tr>
                    {% else %}
                        {% for resident in residents %}
                            <tr>
                                {#<td>{{ resident.id }}</td>#}
                                <td>{{ resident.email }}</td>
                                {#<td>{{ resident.roles ? resident.roles|join(', ') : '' }}</td>#}
                                {# <td>{{ resident.password }}</td>#}
                                <td>{{ resident.firstName }}</td>
                                <td>{{ resident.lastName }}</td>
                                <td>{{ resident.telephone }}</td>
                                <td>{{ resident.address }}</td>
                                <td>{{ resident.zipCode }}</td>
                                <td>{{ resident.city }}</td>
                                <td>{{ resident.nbChambre }}</td>

                                {% if resident.membreFamille is not null %}
                                    <td>{{ resident.membreFamille.lastName }}</td>
                                {% else %}
                                    <td>Aucun membre de famille associé</td>
                                {% endif %}

                                <td>
                                    <a href="{{ path('app_resident_show', {'id': resident.id}) }}" class="btn btn-primary" >Afficher</a> <!-- Utilisation de la classe btn-lg pour un bouton plus grand -->
                                    <a href="{{ path('app_resident_edit', {'id': resident.id}) }}" class="btn btn-info ">Modifier</a>
                                </td>
                                        {# affichage de l'agenda #}
                                {#<td> {% if resident.agenda is empty %}
                                      Aucun agenda
                                     {% else %}
                                     {% for agenda in resident.agenda %}
                                     {{ agenda.typeEvenement }} : {{ agenda.description }} le {{ agenda.dateEvenement|date('Y-m-d H:i') }}
                                     {% if not loop.last %}, {% endif %}
                                     {% endfor %}
                                     {% endif %}
                                </td>
                                #}
                                
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    <a href="{{ path('app_resident_new') }}" class="btn btn-success btn-lg mt-3 ml-3 d-inline-block">Ajouter un nouveau résident</a> 
    </div>
{% endblock %}
